<div class="body">
  <div class="container">
    <div class="row">
       <div class="panel border-white">
        <div class="panel-heading">
          <h1 class="pt-3 font-weight-bold">Update Each Book Details</h1>
        </div>
             <div class="panel-body p-3">
    <form [formGroup]="creatbookForm">

        <div class="container">
        <table class="table table-bordered table-striped">
        <thead>
        <tr>
        <th>Book Name</th>
        <th>Book Author</th>
        <th>Book Price</th>
        </tr>
        </thead>
        <tbody>
      <tr *ngFor= "let book of Books">
        <td>{{ book.bookName }}</td>
        <td>{{ book.bookAuthor }}</td>
        <td>{{ book.bookPrice }}</td>
        <td><button type="submit" class='fas fa-edit' (click)="updateBk()"style='font-size:26px;color:green'></button></td>
      </tr>
    </tbody>
  </table>
  <button type="submit" class="btn btn-success btn-block mt-4 w-5">Save</button>
</div>
</form>
<!--
  Pop Up - form
-->







</div>
</div>
</div>
</div>
</div>



