.book-body-sec
{
  font-family: Arial, sans-serif;
  margin: 0;
  height: 200vh;
  background: linear-gradient(to top, #afc0ee 50%, #1b53ed 90%) no-repeat;


}
.headingOne{
  text-align: center;
 // margin-top: 10px;
  font-family: Georgia, serif;
  font-size: 40px;
 // color: white;
  color:conic-gradient(#553c9a 0%, #553c9a 33%, #ee4b2b 33%, #ee4b2b 66%, #00c2cb 66%, #00c2cb 99%);
  //position: absolute;
}




.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 30px;
  margin: 70px;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  transition: all 0.3s ease-in-out;
}
.book:hover {
  transform: translateY(-15px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.book img {
  width: 100%;
  max-width: 200px;
  height: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.book h2, .book p {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}


