

<div class="book-body-sec">
  <h1 class="headingOne">Select and Collect Your Book</h1>
  <div class="grid">
    <div class="book">
      <img src="./assets/favBook.jpg">
      <h2>Book Title 1</h2>
      <p>Author Name</p>
    </div>
    <div class="book">
      <img src="book2.jpg">
      <h2>Book Title 2</h2>
      <p>Author Name</p>
    </div>
    <div class="book">
      <img src="book3.jpg">
      <h2>Book Title 3</h2>
      <p>Author Name</p>
    </div>
    <div class="book">
      <img src="book4.jpg">
      <h2>Book Title 4</h2>
      <p>Author Name</p>
    </div>
    <div class="book">
      <img src="book5.jpg">
      <h2>Book Title 5</h2>
      <p>Author Name</p>
    </div>
    <div class="book">
      <img src="book6.jpg">
      <h2>Book Title 6</h2>
      <p>Author Name</p>
    </div>
  </div>
</div>


