
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


  <nav >
    <ul>
      <li><a class="#" class="homeid">Home     </a> </li>
      <li><a routerLink="/bookgallery" class="gallerid">Book Gallery     </a></li>
      <li><a href="#" class="aboutid">About     </a> </li>
      <li><a routerLink="/login" class="loginid">Login  </a> </li>
    </ul>
  </nav>



<div class="outer">
    <h1 class="text">Discover Your Next Adventure</h1>
    <h3 class="text2">Select and collect Your Knowledge with Our Bookstore Collection</h3>
  </div>




